
inst.cmd
my_next_script.py
readme.txt
temp.py
temp2.py
temp3.py
temp4.py
temp5.py
temp6.py
temp7.py
temp8.py
USB_allow_read_write_execute.cmd
USB_deny_read_write_execute.cmd
temp8.py
temp8.py
USB_enable_disable.spec
build/USB_enable_disable/Analysis-00.toc
build/USB_enable_disable/base_library.zip
build/USB_enable_disable/EXE-00.toc
build/USB_enable_disable/localpycs/pyimod01_archive.pyc
build/USB_enable_disable/localpycs/pyimod02_importers.pyc
build/USB_enable_disable/localpycs/pyimod03_ctypes.pyc
build/USB_enable_disable/localpycs/pyimod04_pywin32.pyc
build/USB_enable_disable/localpycs/struct.pyc
build/USB_enable_disable/PKG-00.toc
build/USB_enable_disable/PYZ-00.pyz
build/USB_enable_disable/PYZ-00.toc
build/USB_enable_disable/USB_enable_disable.pkg
build/USB_enable_disable/warn-USB_enable_disable.txt
build/USB_enable_disable/xref-USB_enable_disable.html
2024-06-20/t1.py
2024-06-20/t2.py
2024-06-20/t3.py
2024-06-20/t4.py
